body {
	background: #ffffff;
	position: relative;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}

.heading {
	font-size: 20px;
}

.subheading {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 60px;
	font-family: 'Poiret One', cursive;
}

.bold {
	font-weight: bold;
}

p {
	line-height: 28px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif
}

a {
	outline: none !important;
	font-family: "Poiret One", cursive;
	font-weight: bold;
}

hr {
	width: 180px;
	border-color: #CCC;
}

.section-title strong {
	color: #00C6D7;
	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
	padding-bottom: 32px;
}

.medium-icon {
	font-size: 32px !important;
}

#work,
#about,
#team,
#portfolio,
#pricing,
#contact {
	padding-top: 100px;
	padding-bottom: 100px;
}

.vanish {
	display: hidden:
}




@-webkit-keyframes sk-circleBounceDelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-circleBounceDelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/* ==========================================================================
navigation section
========================================================================== */

.custom-navbar {
	background: #4B4B4B !important;
	margin-bottom: 0;
}

.custom-navbar .navbar-brand {
	color: #00c6d7;
	font-weight: 600;
	font-size: 24px;
}

.custom-navbar .navbar-brand .navbar-toggle {
	background: #00c6d7;
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.custom-navbar .nav li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.custom-navbar .nav li a:hover {
	background: transparent;
	color: #eeeeee;
}

.custom-navbar .nav > li > a:focus {
	background-color: transparent;
	color: #ffffff;
	outline: none;
}

.custom-navbar .nav li.active > a {
	color: #00c6d7;
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 10px;
}

.custom-navbar .navbar-toggle .icon-bar {
	background: #00c6d7;
	border-color: transparent;
}

@media(min-width:768px) {
	.custom-navbar {
		background: #4B4B4B;
		padding: 10px;
		border-bottom: 0;
		background: 0 0;
	}
	.custom-navbar.top-nav-collapse {
		padding: 8px;
		background: #4B4B4B;
	}
}


/* ==========================================================================
home section
========================================================================== */

#home {
	background-size: cover;
	background-position: center;
	color: #ffffff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#home h1 {
	font-size: 40px;
}

#home h3 {
	font-size: 14px;
}

#home hr {
	width: 240px;
}

#juanlove {
	attitude: positive;
}

#home .btn {
	background: transparent;
	border: 4px solid #ffffff;
	border-radius: 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 12px 42px;
	margin-top: 40px;
	margin-right: 16px;
	transition: all 0.4s ease-in-out;
}

#home .btn:hover {
	background: #00c6d7;
	border-color: transparent;
}

#home .btn-danger {
	background: #00c6d7;
	border-color: transparent;
}

#home .btn-danger:hover {
	border: 4px solid #ffffff;
	border-radius: 0;
	background: transparent;
	color: #ffffff;
}


/* ==========================================================================
work section
========================================================================== */

#work {
	text-align: center;
}

#work .col-md-4 {
	padding: 28px;
	position: relative;
	transition: all 0.4s ease-in-out;
}

#work .col-md-4:hover {
	background-color: #ffffff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

#work h3 {
	font-size: 18px;
}


/* ==========================================================================
about section
========================================================================== */

#about {
	background: #3B3B3B;
	color: #ffffff;
}

.nav-tabs {
	margin-top: 20px;
	border-bottom: 1px solid #606060;
}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs > li > a {
	display: block;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px;
	border: 0;
	border-radius: 0;
}

.nav-tabs > li > a:hover {
	background-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #00c6d7;
	cursor: default;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: transparent;
}

.tab-content {
	padding-top: 20px;
}

.tab-content a {
	color: #0CC;
}

.tab-content a:hover,
.tab-content a:link {
	color: #FF0;
	text-decoration: none;
}


/* ==========================================================================
portfolio section
========================================================================== */

#portfolio {
	background-color: #f6f6f6;
	text-align: center;
}

#portfolio .container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#portfolio img {
	width: 100%;
	transition: all 0.4s ease-in-out;
}

#portfolio img:hover {
	opacity: 0.5;
}


/* FILTER CSS */

.filter-wrapper {
	width: 100%;
	margin: 40px 0 24px 0;
	overflow: hidden;
	text-align: center;
}

.filter-wrapper li {
	display: inline-block;
	margin: 4px;
}

.filter-wrapper li a {
	color: #999999;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 8px 17px;
	display: block;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
	color: #00c6d7;
	outline: none;
}


/* ISOTOPE BOX CSS */

.iso-box-section {
	width: 100%;
}

.iso-box-wrapper {
	width: 100%;
	padding: 0;
	clear: both;
	position: relative;
}

.iso-box {
	position: relative;
	min-height: 50px;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}

.iso-box > a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}



.fluid-img {
	width: 100%;
	display: block;
}


/* ==========================================================================
contact section
========================================================================== */

#contact {
	background: #3B3B3B url('../images/contact-bg.jpg') no-repeat center center;
	background-size: cover;
	color: #ffffff;
}

#contact h2 {
	padding-bottom: 20px;
}

#contact h3 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

#contact .medium-icon {
	padding-top: 10px;
	padding-right: 10px;
}

#contact .contact-info div {
	padding-top: 14px;
	padding-bottom: 14px;
}

#contact form {
	padding-top: 60px;
}

#contact .form-control {
	border: 2px solid #ffffff;
	border-radius: 0;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

#contact input {
	height: 40px;
}

#contact input[type="submit"] {
	background: #00c6d7;
	border: 3px solid #00c6d7;
	letter-spacing: 1px;
	margin-top: 18px;
	height: 50px;
	color: #ffffff;
}

#contact input[type="submit"]:hover {
	color: #000000;
}


/* ==========================================================================
Twenty - Twenty Slider
========================================================================== */

.coffee-mug {
	background: #3F2616;
	position: relative;
	margin: 150px auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3C2415, 0 0 0 42px #E4E6B2, 0 0 0 65px #EFF0D1, 0 120px 0 -25px #3C2415, 100px 70px 0 -25px #3C2415, 80px 140px 0 -10px #3C2415, 0px 210px 0 -55px #3C2415, 20px 250px 0 -65px #3C2415;
}

.coffee-mug::before {
	content: '';
	position: absolute;
	background: #EFF0D1;
	height: 80px;
	width: 60px;
	top: -85px;
	right: -75px;
	border-radius: 5px;
	box-shadow: inset 0px 50px 0 0px #EFF0D1;
	/* transform lets us rotate the handle on an angle */
	transform: rotate(45deg);
}


/* ==========================================================================
footer section
========================================================================== */

footer {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

footer p {
	padding-top: 20px;
	font-family: "Poiret One", cursive;
	font-weight: bold;
}

.social-icon {
	padding: 0;
	margin: 0;
}

.social-icon li {
	list-style: none;
	display: inline-block;
	padding: 6px;
}

.social-icon li a {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
	color: #808080;
	font-size: 20px;
	width: 56px;
	height: 56px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

.social-icon li a:hover {
	color: #00c6d7;
}

@media screen and (min-width: 992px) {
	@-moz-document url-prefix() {
		#portfolio .col-lg-4,
		#portfolio .col-md-4 {
			width: 33.333%;
		}
	}
}


/* ==========================================================================
media quires for mobile
========================================================================== */

@media (max-width: 440px) {
	#home {
		padding-top: 320px;
		padding-bottom: 320px;
	}
	#home h1 {
		font-size: 22px;
	}
	#home h3 {
		font-size: 12px;
	}
	#container1 {
		width: 85%;
	}
	.vanish {
		display: inherit;
	}
}
