
.canister {
	width: 75%;
	margin: 5em auto;
}

.mix {
	display: none;
	text-align: center;
	width: 30%;
	height: 175px;
	margin: 1%;
	background-color: #ccc;
}

.s1 {

	color: white;
}

.extras {
	background-color: orange;
}

.s2 {
	background-color: red;
	color: white;
}

button {
	background: #666666;
	border: none;
	color: white;
	padding: .65em;
	border-radius: 5px;
}

input {
	padding: .5em;
	margin-top: 10px;
}

@media screen and (max-width: 1300px) {



	.mix {
        width: 29% ;
		height: 150px;
	}
}

@media screen and (max-width: 600px) {
	.mix {
		width: 90%;
		height: 150px;
        margin: 1% 1em;
        margin-top: 20px
	}
}
