/* General Styles
========================================================================== */

body {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 15px;
    color: white;
    text-align: center;
}

hr {
    padding: 0px;
    margin: 0px;
}

p {
    color: grey;
}

.noPads {
    padding: 0px;
    margin: 0px;
}

/* Scroll Bar
========================================================================== */

/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: black;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #2D2D2D;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: grey;
}


/* Navigation
========================================================================== */

nav {
    position: fixed;
    width: 100%;
    padding: 0px;
    z-index: 99;
    text-align: center;
    background-size: 100% 100%;
    background-position: center;
    top: 0px;
}

nav ul {
    height: 112px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    background: none;
    list-style: none;
    display: block;
}

nav ul li {
    display: inline-block;
    width: 20%;
    background: none;
}

nav ul li a {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    color: grey;
    background: none;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li img {
    height: 90px;
    width: auto;
    background: none;
}

nav .gradientBottom {
    height: 55px;
}

#top-menu {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

#top-menu li {}

#top-menu li a {
    display: block;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    /*    border-bottom: 3px solid rgba(0, 0, 0, 0);*/
    color: grey;
    text-decoration: none;
}

#top-menu a:hover {
    color: lightgrey;
}

#top-menu li.active a {
    /*    border-bottom: 3px solid white;*/
    color: white;
    font-weight: bold;
    /*    border-bottom-width: thin;*/
}


/* Mobile Nav */

.overlayNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayNav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlayNav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlayNAV a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlayNav .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    /*   font-size: 60px; */
}


/*  Mobile Nav Icon */

.outer {
    position: relative;
    width: 50px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.inner {
    width: inherit;
    text-align: center;
}

label {
    font-size: .8em;
    line-height: 4em;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
    vertical-align: middle;
}

.inner:before,
.inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #FFC107;
    left: 0;
    transition: all .3s ease-in;
}

.inner:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.outer:hover label {
    opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
    transform: rotate(0);
}

.outer:hover .inner:before {
    top: 0;
}

.outer:hover .inner:after {
    bottom: 0;
}


/* True Body
========================================================================== */

.mainContainer {
    position: relative;
    width: 100%;
    background-color: #000000;
}


/* Gradient Borders */

.gradientTop {
    position: relative;
    background-image: url("../assets/imgs/goingUp.png");
    background-size: 100% 100%;
    background-position: center;
    z-index: 20;
    width: 100%;
    height: 150px;
}

.gradientBottom {
    position: relative;
    background-image: url("../assets/imgs/goingDown.png");
    background-size: 100% 100%;
    background-position: center;
    z-index: 20;
    width: 100%;
    height: 150px;
}


/* Main Sections
========================================================================== */

/* Top Section */

.first {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.first .divider {
    height: 45vh;
    width: 100%;
}

.first .row {
    padding: 0px !important;
    margin: 0px;
}

.first .blackBox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px !important;
}


/* About Section */

.second {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    z-index: 13;
    min-height: 700px;
}

.second .divider {
    width: 100%;
    height: 32vh;
}

.second .fixedWidth {
    width: 1080px;
    margin: 0px auto;
}

.second .aboutDescript {
    text-align: left;
}

.second .aboutDescript img {
    width: 400px;
    height: auto;
    text-align: left;
}

.second .aboutDescript p {
    text-align: left;
}

.videoBox {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 49;
}

.aboutVideo {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 50;
    top: 0px;
    left: 44%;
    transform: translate(-50%, 0);
}


/* Work Section */

.third {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 11;
    text-align: center;
}

.third .divider {
    width: 100%;
    height: 25vh;
}


/* Bio Section */

.fourth {
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #000000;
    z-index: 14;
    padding-bottom: 50px;
}

.fourth .divider {
    width: 100%;
    height: 225px;
}

.fourth .relativeBox {
    position: relative;
}

.fourth .absoluteBox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fourth .mobileOnly {
    display: none;
}

.fourth .imageGradientOne {
    position: absolute;
    height: 125px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.fourth .imageGradientTwo {
    position: absolute;
    height: 125px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.fourth .imageBackground {
    background-image: url("../assets/imgs/newBio.jpg");
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-attachment: fixed;
    background-position: 27% 50%;
}


/* Contact Section */

.fifth {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 12;
    overflow: hidden;
}

.fifth .divider {
    width: 100%;
    height: 45vh;
}

.fifth .contactBox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 17px;
    padding-bottom: 10px;
}

.fifth .contactEmail {
    color: white !important;
    font-weight: normal !important;
    font-size: 16px;
}

.fifth .contactPhone {
    color: white !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-family: 'Arial', serif !important;
    font-size: 16px;
}


/* Video Gallery
========================================================================== */

.demo-gallery > ul {
    margin-bottom: 0;
    /*    padding-left: 15px;*/
    width: 1100px;
    text-align: center;
    margin: 0px auto;
}

.demo-gallery > ul > li {
    margin-bottom: 15px;
    width: 370px;
    display: inline-block;
    margin-right: 15px;
    list-style: outside none none;
}

.demo-gallery > ul > li a {
    /*
  border: 3px solid #fff;
  border-radius: 3px;
  */
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}

.demo-gallery > ul > li a {
    text-decoration: none !important;
}

.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.demo-gallery > ul > li a:hover > img {
    /*
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  */
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
    /*    background-color: rgba(0, 0, 0, 0.1);*/
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
    /*  background-color: rgba(0, 0, 0, 0.5);*/
    text-decoration: none !important;
}

.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -1.5em;
    margin-top: -1.5em;
    opacity: 0.8;
    width: 48px;
}

.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}

.lg-thumb.lg-group {
    margin: 0px auto;
}


/* Video Backgrounds
========================================================================== */

.videoOne {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.videoTwo {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.videoThree {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

@media only screen and (max-width: 1500px) {
    .fifth h3 {
        font-size: 12px;
        letter-spacing: 10px;
    }
}

/*1100*/

@media only screen and (max-width: 1100px) {


    .first,
    .second,
    .third,
    .fourth,
    .fifth {
        width: 100%;
        overflow: hidden;
    }

    .fourth .mobileOnly {
        display: block;
    }

    .fifth h3 {
        font-size: 10px;
        letter-spacing: 8px;
    }

    .fixedWidth {
        width: 100% !important;
    }

    .demo-gallery ul {
        width: 100%;
    }

    .mainNavItems {
        display: none;
    }

    .mobileLogo {
        width: 200px;
    }

    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 120;
    }

    .fourth .imageBackground {
        background-image: url("../assets/imgs/newBio.jpg");
        background-repeat: no-repeat;
        height: 300px;
        background-position: center;
        margin: 0px;
        position: relative;
        background-attachment: inherit;
        margin-bottom: 20px;
    }


    /* Icon Bars */
    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: rgb(13, 26, 38);
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: rgb(13, 26, 38);
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px;
        }

        50% {
            width: 20px;
        }

        100% {
            width: 0px;
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px;
        }

        50% {
            width: 20px;
        }

        100% {
            width: 0px;
        }
    }

    .icon-bars.overlay::before {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px;
        }

        50% {
            width: 10px;
        }

        100% {
            width: 0px;
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px;
        }

        50% {
            width: 10px;
        }

        100% {
            width: 0px;
        }
    }

    .icon-bars.overlay::after {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px;
        }

        50% {
            width: 15px;
        }

        100% {
            width: 0px;
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px;
        }

        50% {
            width: 15px;
        }

        100% {
            width: 0px;
        }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}


@media only screen and (max-width: 991px) {

    .fourth .imageBackground {
        background-attachment: fixed;
    }
}

/*800*/

@media only screen and (max-width: 767.98px) {

    nav {
        height: 70px !important;
    }

    nav ul {
        height: 100px !important;
    }

    nav ul li img {
        height: 80px;
        width: auto;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
        width: 100%;
        overflow: hidden;
        height: auto;
        min-height: 100vh;
        padding-bottom: 15px;
    }

    .fourth .imageBackground {
        background-image: url("../assets/imgs/newBio.jpg");
        background-repeat: no-repeat;
        height: 300px;
        background-position: center;
        background-size: contain;
        margin: 0px;
        position: relative;
        background-attachment: inherit;
        margin-bottom: 20px;
    }

    .aboutScript img {
        width: 100% !important;
    }

    .gradientTop,
    .gradientBottom,
    .videoOne,
    .videoTwo,
    .videoThree {
        display: none !important;
    }

    .first .divider {
        height: 40vh !important;
    }

    .second .divider {
        height: 20vh !important;
    }

    .third .divider {
        height: 150px !important;
    }

    .fourth .divider {
        height: 150px !important;
    }

    .five .divider {
        height: 40vh !important;
    }

    .first {
        background-image: url(../assets/imgs/firstMobile.jpg);
        background-size: cover;
    }

    .third {
        /*        background-image: url(../assets/imgs/secondMobile.jpg);*/
        background-color: #000000 !important;
        background-size: cover;
    }


    .fifth {
        background-image: url(../assets/imgs/thirdMobile.jpg);
        background-size: cover;
    }

    .fifth h3 {
        font-size: 10px;
        letter-spacing: 8px;
    }

}
